/* AdvancedFilters.css */
.search{
    text-align:start;
}
.all{
    margin-top: 8%;
}
#advanced-filters {
    padding: 20px;
  }
  
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .select {
    position: relative;
  }
  
  .select select {
    padding: 8px 15px;
    border: 1px solid #ccc;
    background: transparent;
    color: white;

    border-radius: 24px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .custom-multiselect-dropdown {
    position: relative;
  }
  
  .custom-dropbtn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .custom-dropdown-content {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    flex-direction: column;
    z-index: 1;
  }
  
  .custom-multiselect-dropdown:hover .custom-dropdown-content {
    display: flex;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  /* .dropdown-item:hover,
  .dropdown-item.selected {
    background: #007bff;
    color: #fff;
  }
   */
  .selected-options-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  /* .selected-option {
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
  } */
  /*me  */
  .btn-project-info {
    color: black;
    background-color: #2cd4d9;
    border-color: #2cd4d9;
    border-radius: 50px;
    border: 2px;
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.btn-project-info:hover {
    background-color: #0db0b6; /* Darker shade for hover */
    color: black; /* Ensure text color remains white */
  }
.custom-dropbtn {
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 1px solid;
    height: 100%;
    width: 100%;
}
.select-dim {
    height: 40px;
}
.Sort{
    text-align: start;
}
option{
    background-color: none;
}