/* AirdropHeader.css */

/* .gradient-heading {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 20px;
    border-radius: 5px;
    color: white; 
  }

  
   */

   .gradient-heading{
    font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    font-size: 55px;
    text-align: center;
    font-size: 55px;
    line-height: 1.2em;
    color: 1.2em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    background-image: linear-gradient(117deg, #c700ff 7%, #2cd4d9 88%);
}
  .gradient-heading h1 {
    margin: 0; /* Remove default margin */
    font-size: 2rem; /* Adjust font size as needed */
  }
  
  .container {
    margin-top: 50px; /* Add some top margin to the container */
  }
.btn-02 > button{
    /* border: none; */
    margin-top: 20px;
    padding: 12px;
    border-radius: 22px;
    font-size: 20px;
    width: 200px;
    margin-top: 11%;
  }
  .btn-03{
    border-color: #2cd4d9;
    background-color: transparent;
    color: #2cd4d9;
    border: 2px solid #2cd4d9;
  }  
  .btn-03:hover{
    background-color: #2cd4d9;
    color: #FFFFFF;
  }

.btn-02 {
    display: flex;
    gap: 32px; /* Adjust the gap size as needed */
    justify-content: center; /* Center the buttons horizontally */
  }
  .btn-04{
    background-color: transparent;
    border-color: #FFFFFF;
    color: #ffffff;
  }
  .btn-04:hover{
    background-color: #2cd4d9;
    color: black;
    border-color: #2cd4d9;
  }
  .w-wali{
    /* width: 95%; */
    max-width: 1080px;
    /* margin: auto; */
    /* position: relative; */
    margin-top: 16%; 
  }